body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Comfortaa', cursive;
}
#bgimage{
    background-image: url(../images/profile/coverpicture.jpg);
    background-position: 65% 50%;
    background-size: cover;
    height: 88vh;
    
}
.hero{
    border-bottom: solid 15px #4c14ad;
    margin-bottom: 50px;
}
.about{
    text-align: center;
    font-size: 25px;
    margin-bottom: 80px;
}
.projectHeader{    
    background-position: center;
    background-size: cover;
    height: 300px;
}
.projectDescription{
    padding: 3vw;
    font-size: 20px;
    background-color: #070707;
}
.projectName{
    font-size: 50px;
}
.project1Name{
    font-family: 'Montserrat', sans-serif;
}
.project2Name{
    font-family: 'Quicksand', sans-serif;
}
.project1{
    background-image: url(../images/project1/untitled.svg);
}
.project2{
    margin-top: 75px;
    background-image: url(../images/project2/brobotGraphic.jpg);
}
.project3{
    margin-top: 75px;
    background-image: url(../images/project3/graphic.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #1e1e1e;
}
.project1Images{
    text-align: center;
}
.screenshots1{
    width: 25%;
}
.googlePlay{
    height: 80px;
}
.githubMark{
    height: 80px;
}
.github{
    border-top: 10px solid #380099;
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
    color: lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #4c14ad;
}
/*laptops and desktops*/
@media (min-width: 992px){
}