body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif; 
    overflow-x: hidden;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Comfortaa', cursive;
}
h2{
    color: blue;
    font-size: 22px;
}
#bgimage{
    background-image: url(../images/profile/coverpicture.jpg);
    background-position: 65% 50%;
    background-size: cover;
    height: 88vh;
}
#github-repos{
    padding: 50px;
    width: 100vw;
    text-align: center;
}
.github-repo{
    display: inline-table;
    height: 230px;
    width: 220px;
    text-align: center;
    padding: 15px 10px 0 10px;
    box-shadow: black 0 0 15px;
    margin: 10px;
    border-radius: 5px;

}
.git-repo-desc{
    background-color: white;
    color: black;
    height: 140px;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    overflow-y: scroll;
}
.resume{
    text-align: center;
    
}
.hero{
    border-bottom: solid 15px #4c14ad;
    margin-bottom: 50px;
}
.about{
    text-align: center;
    font-size: 25px;
    margin-bottom: 80px;
}

.projectHeader{    
    background-position: center;
    background-size: cover;
    height: 300px;
}
.projectDescription{
    padding: 3vw;
    font-size: 20px;
    background-color: #070707;
    margin-bottom: 25px;
}
.projectName{
    font-size: 50px;
}

.bathroom-cash{
    margin-top: 75px;
    background-image: url(../images/bathroom-cash/feature.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1e1e1e;
}

.rememory{
    margin-top: 100px;
    background-image: url(../images/rememory/untitled.svg);
}
.rememory-name{
    font-family: 'Montserrat', sans-serif;
}

.image-center{
    text-align: center;
}
.image-size-25{
    width: 25%;
}

.googlePlay{
    height: 80px;
}
.githubMark{
    height: 80px;
}
.github{
    border-top: 10px solid #380099;
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
    color: lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #4c14ad;
}

/*laptops and desktops*/
@media (min-width: 992px){
}