:root{
    --nav-size: 150px;
    --nav-move: -150px;
}
#nav{
    position: fixed;
    opacity: 0;
    top: calc( 50vh - var(--nav-size)/2);
    left: 5vw;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat( 4, var(--nav-size));
    transition: 500ms ease-in-out;
    animation: fade-in 1s 4s both;
}
#nav{
    transform: translateY(var(--nav-move));
}
#nav>active>a{
    font-size: 25px;
}
#nav>div{
    align-self: center;
}
a{
    color: grey;
    text-decoration: none;
    font-size: 20px;
    width: 20vw;
    justify-self: center;
    transition: 500ms ease-in-out;
}
a span{
    font-size: 14px;
}
.resume{
    font-size: 14px !important;
}
.active>a{
    font-size: 30px;
    color: white;
}

@keyframes move{
    from{
        font-size: 40px;
        color: grey;
    }
    to{
        font-size: 60px;
        color: white;
    }
}
@media (min-width: 768px) {
    :root{
        --nav-size: 250px;
        --nav-move: -250px;
    }
    #nav{
        left: 20vw;
    }
    #nav>active>a{
        font-size: 50px;
    }
    .active>a{
        font-size: 60px;
    }
    a{
        font-size: 40px;
    }
    a span{
        font-size: 18px;
    }
    .resume{
        font-size: 18px !important;
    }
}