
body{
    background-color: #151515;
    font-family: 'Montserrat';
    margin: 0;
    height: 100vh;
    overflow: hidden;
    color: white;
    overscroll-behavior-y: none;
}
.bg-dark{
    background-color: rgba(0, 0, 0, 0.6);
}
.bg-whole{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.page{
    background-repeat: no-repeat;
    background-position: center;
}
#name-start{
    position: fixed;
    width: 100vw;
    animation: 3s 250ms ease-in forwards name-show-small;
    opacity: 0;
    text-align: center;
}
#aboutme-page{
    background-image: url('../assets/coverpicture.jpg');
    background-size: cover;
    background-color: #151515;
    visibility: hidden;
}
#offluckas-page{
    background-image: url('../assets/offluckas.png');
    background-size: contain;
    background-color: white;
    visibility: hidden;
}
#LITPCC-page{
    background-image: url('../assets/LITPCC.jpg');
    background-size: cover;
    background-color: #151515;
    visibility: hidden;
}
#NewsAlligator-page{
    background-image: url('../assets/newsalligator.png');
    background-size: cover;
    background-color: #151515;
    visibility: hidden;
}
.fade{
    animation: fade-in 1s reverse both;
}
.reverse{
    animation-direction: normal;
}
@keyframes name-show{
    0%{
        letter-spacing: 10px;
        opacity: 0;
    }
    60%{
        letter-spacing: 30px;
        opacity: 1;
    }
    80%{
        letter-spacing: 30px;
        opacity: 1;
    }
    100%{
        letter-spacing: 30px;
        opacity: 0;
    }
}
@keyframes name-show-small{
    0%{
        letter-spacing: 0px;
        opacity: 0;
    }
    60%{
        letter-spacing: 10px;
        opacity: 1;
    }
    80%{
        letter-spacing: 10px;
        opacity: 1;
    }
    100%{
        letter-spacing: 10px;
        opacity: 0;
    }
}
@keyframes fade-in{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@media (min-width: 420px) {
    #name-start{
        letter-spacing: 5px;
        font-size: 50px;
        top: calc(50vh - 70px);
    }
}
@media (min-width: 600px) {
    #name-start{
        letter-spacing: 10px;
        font-size: 90px;
        top: calc(50vh - 90px);
    }
}
@media (min-width: 768px) {
    #name-start{
        font-size: 110px;
        top: calc(50vh - 110px);
    }
}
@media (min-width: 992px) {
    #name-start{
        font-size: 120px;
        top: calc(50vh - 130px);
        animation: 3s 250ms ease-in-out forwards name-show;
    }
}
@media (min-width: 1200px) {
    #name-start{
        font-size: 160px;
        top: calc(50vh - 160px);
    }
}