@font-face {
    font-family: 'Hyperwave';
    src: url('../assets/fonts/Hyperwave-Two.woff');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../assets/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 800;
    src: url('../assets/fonts/Poppins-ExtraBold.ttf');
}