:root{
    --background-color: #151515;
    --text-color: #ffffff;
    --text-accent: #ff00ff;
}
*{
    box-sizing: border-box;
}
h2{
    scroll-snap-align: start;
    scroll-margin-top: 50px;
    color: var(--emphasis-text);
    font: 5.5rem/3.5rem 'Hyperwave';
    margin: 0;
    text-shadow: 5px 5px var(--emphasis-shadow);
    @media (min-width: 600px){
        font: 14rem/3.5rem 'Hyperwave';
    }
}
h3{
    font: 4.5rem/3.5rem 'Hyperwave';
    margin: 0;
    padding-left: 10px;
    @media (min-width: 600px){
        font-size: 6.5rem;
    }
}
span{
    color: var(--text-accent);
}
html{
    background-color: var(--background-color-alt);
}
body {
    background-color: var(--background-color-alt);
    color: var(--text-color);
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    width: 100vw;
    overflow: hidden;
    min-width: 300px;
    transition: background-color 500ms, color 500ms;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}