.p-w{
    margin-bottom: 80px;
    & .p-img-w{
        width: 100%;
        border-radius: 4px;
        img{
            cursor: pointer;
            height: 100%;
            width: 100%;
            object-fit: cover;   
            &:hover{
                // transform: scale(1.05);
            }
            &.img-large{
                position: fixed;
                opacity: 0;
                pointer-events: none;
            }
        }
    }
    span{
        font: bold 1rem 'Poppins';
        display: block;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin: 25px 0 5px 5px;
    }
    h2{
        font: bold 3.5rem/3.5rem 'Cabin', sans-serif ;
        margin: 0;
    }
    p{
        cursor: pointer;
        margin: 5px 0 10px 5px;
        text-transform: uppercase;
        color: grey;
        &:hover{
            color: white;
        }
    }
}
