#ps-c{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: scroll;
    overscroll-behavior: contain;
    & canvas{
        position: relative;
    }
    & #ps-p-description{
        position: relative;
        z-index: 150;
        background-color: var(--background-color);
        padding: 20px;
        transition: opacity 350ms;
        @media screen and (min-width: 600px){
            padding: 20px 10vw 20px 10vw;
        }
    }
}
.ps-w{
    height: auto;
    width: 100%;
    max-width: 1100px;
    padding: 20px;
    margin: 0 auto;
    @media screen and (min-width: 600px){
        width: 80vw;
    }
    & .ps-h{
        position: relative;
        z-index: 300;
        padding-top: 2.5rem;
        margin: 0 auto;
        text-align: center;
        height: 150px;
        transform: rotate(-5deg);
        @media screen and (min-width: 600px){
            padding-top: 4rem;
            height: 200px;
        }
        @media (min-width: 900px){
            height: 300px;
        }
        @media (min-width: 1200px){
            height: 350px;
        }
    }
}