.container {
    position: absolute;
    top: 10vh;
    left: 15vw;
    // height: 20vh;
    // width: 20vw;
    // background-color: #ffffff88;
    &>img {
        max-height: 40vh;
        max-width: 40vw;
        // opacity: 0.9;
    }
}

