#container {
    height: 100vh;
    width: 100vw;

    @media screen and (max-aspect-ratio: 1/1) and (max-width: 767px){
        height: 75vh !important;
        top: 25vh;
        pointer-events: none;
    }
}


#stars {
    pointer-events: none;
    z-index: -1;
    height: 100vh !important;
    width: 100vw !important;
    position: fixed !important;
    top: 0 !important;
    left: 0;
}