.container {
    z-index: 0;
    top: 50vh;
    left: 32vw;
    position: fixed;
    width: min-content;
    display: grid;
    place-content: center;
    background-color: transparent;
    color: #7D46C2;
    font-family: Hyperwave;
    font-size: 30vw;
    text-align: center;
    line-height: 0.6em;
    text-shadow: 5px 5px #649BFF;
    transform: rotate(-10deg) translate(0%, -50%);
    opacity: 0;
    transition: opacity 500ms;
    overflow: visible;

    @media screen and (max-aspect-ratio: 1/1) and (max-width: 767px){
        top: 63vh;
    }

    &.visible {
        opacity: 1;
    }
    @media screen and (max-width: 768px) {
        left: 25vw;
        font-size: 40vw;
        text-shadow: 3px 3px #649BFF;
    }
    @media screen and (max-width: 550px) {
        left: 26vw;
        font-size: 40vw;
    }
}
