:root {
    --scrollable-color: var(--accent-primary);
}

.scrollable-notice--wrapper {
    position: fixed;
    bottom: max(calc(6vw), 30px);
    right: 50%;
    width: 1em;
    z-index: 950;
    transform: scale(1.5) translate(50%, 20%);
    // mix-blend-mode: difference;

mix-blend-modemix-blend-mode

    @media screen and (max-width: 768px) {
        bottom: 26px;
    }

    & .mouse {
        transition: border-color 350ms;
        height: 1.375em;
        width: .875em;
        border: 1px solid var(--scrollable-color);
        border-radius: 2em;
        opacity: 1;

        & .wheel {
            transition: background-color 350ms;
            position: relative;
            display: block;
            height: 0.1875rem;
            width: 0.1875rem;
            margin: 0.1875rem auto 0;
            background-color: var(--scrollable-color);
            animation: mouse-wheel 1.2s ease infinite;
            border-radius: 50%;
        }
    }

    & span {
        animation-delay: .2s;
    }
}



@keyframes mouse-wheel {
    0% {
        opacity: 0.7;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(.375em);
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.7;
    }
}