:root{
    --bwatch-scroll: 1;
}
.bwatch--wrapper{
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-color: #FFDCDC;
    z-index: -2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 400px;
}
.bwatch--description{
    padding-top: 120px;
    padding-bottom: 120px;
}
.bwatch-title--holder{
    padding: 0;
    width: 300px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    display: grid;
}
.bwatch-title--logo{
    background-image: url('/assets/logo-no-bg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;    
    margin-top: -45px;
}
.bwatch-title{
    text-align: center;
    font-size: 44px;
    font-weight: bold;
}
.bwatch-about{
    width: 90vw;
    box-sizing: border-box;
    color: white;
    padding: 30px 30px 20px 60px;
    background-color: #FC8A8A;
}
.bwatch-about span{
    font-weight: bold;
}

.bwatch-about-after{
    height: 20px;
    width: 70vw;
    background-color: #FFC9C2;
}
.bwatch--device{
}
.bwatch--layers{
    position: relative;
    height: 100%;
}
.bwatch-layer{
    top: calc(-100px + 20vh);
    margin-left: calc(50vw - 75px);
    position: absolute;
    transform: rotateX(65deg) rotateZ(-45deg) translateZ(0);
    height: 260px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    /* transition: all 250ms ease-in-out; */
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.4); 
}
#layer-1{
    background-image: url('/assets/layer3.png');
    margin-top: 0px;
}
#layer-2{
    background-image: url('/assets/layer2.png');
    margin-top: calc(-30px * var(--bwatch-scroll));
}
#layer-3{
    background-image: url('/assets/layer1.png');
    margin-top: calc(-60px * var(--bwatch-scroll));
}
@media (min-width: 850px){
    .bwatch--wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .bwatch--description{
        padding-top: 60px;
    }
    .bwatch-about{
        width: 45vw;
        padding: 30px 45px 30px 100px;

    }
    .bwatch-about-after{
        width: 30vw;
    }
    .bwatch-title--holder{
        grid-template-columns: 100px 300px;
        grid-template-rows: 1fr;
        width: 400px;
        margin: 30px auto;
        padding-top: 20px;
    }
    .bwatch-layer{
        top: 18vh;
        margin-left: calc(25vw - 110px);
        height: 380px;
        width: 215px;
    }
    #layer-1{
        margin-top: 0px;
    }
    #layer-2{
        margin-top: calc(-45px * var(--bwatch-scroll));
    }
    #layer-3{
        margin-top: calc(-90px * var(--bwatch-scroll));
    }
}
.bwatch-stats--item{
    height: 50px;
    width: 50px;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 12px;
    border-radius: 2px;
    transition: 250ms all;
}
@media (min-width: 1100px){
    .bwatch-layer{
        top: 30vh;
        margin-left: calc(25vw - 100px);
        height: 380px;
        width: 220px;
    }
    #layer-1{
        margin-top: 0px;
    }
    #layer-2{
        margin-top: calc(-75px * var(--bwatch-scroll));
    }
    #layer-3{
        margin-top: calc(-150px * var(--bwatch-scroll));
    }
}
@media (min-width: 1500px){
    .bwatch-layer{
        top: 30vh;
        margin-left: calc(25vw - 140px);
        height: 520px;
        width: 300px;
    }
    #layer-1{
        margin-top: 0px;
    }
    #layer-2{
        margin-top: calc(-100px * var(--bwatch-scroll)); 
    }
    #layer-3{
        margin-top: calc(-200px * var(--bwatch-scroll));
    }
}