#header-bar{
    height: 5px;
    background-color: #700070;
    transition: ease-in-out 2000ms;
    width: 0px;
    max-width: calc(100% - 200px);
    box-sizing: border-box;
    margin: 0 auto;
    box-shadow: 0 0 5px 3px #ff00ff;
}
#header-bar.loaded{
    background-color: #ff00ff;
}
.header-content--name{
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.header-content--position{
    color: #c079c0;
    font-size: 20px;
}
.header-content--wrapper{
    display: grid;
    height: 100vh;
    width: 100%;
    background-color: #151515;
    border-top-left-radius: 100%;
    overflow: hidden;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 50px 30px;
    padding: calc(50vh - 100px) 20px 0 20px;
    text-align: center;
    user-select: none;
    transition: 1s all;
}
.glitch{
    letter-spacing: 3px;
    position: relative;
}
.glitch:after {
    content: "RYAN YANG";
    position: absolute;
    margin-left: -260px;
    text-align: center;
    text-shadow: -2px 0 red;
    color: white;
    background: #151515;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    font-weight: bold;
    animation: noise-anim 4s infinite ease;
}

.glitch:before {
    content: "RYAN YANG";
    position: absolute;
    margin-left: 2px;
    text-shadow: 3px 0 blue;
    color: white;
    background: #151515;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    font-weight: bold;
    animation: noise-anim 4s infinite alternate-reverse ease;
}

@media (min-width: 600px){
    #header-bar{
        max-width: calc(100% - 300px);
    }
    .glitch:after{
        margin-left: -375px;
    }
    .header-content--name{
        font-size: 60px;
    }
    .header-content--position{
        font-size: 32px;
    }
    .header-content--wrapper{
        grid-template-rows: 90px 80px 50px;
    }
    .header--load-icon.loaded span{
        width: 85px;
    }
}
@media (min-width: 900px){
    #header-bar{
        max-width: 100%;
        margin: 0;
    }
    .glitch{
        display: relative;
    }
    .glitch:after {
        margin-left: 0px;
        left: 148px;
    }
    .header-content--name{
        font-size: 80px;
    }
    .header-content--position{
        font-size: 35px;
    }
    .header-content--wrapper{
        text-align: left;
        grid-template-rows: 110px 80px 50px;
        padding: calc(50vh - 100px) 150px 0 150px;
    }
    .header--load-icon.loaded span{
        width: 60px;
    }
}