.loading-top{
    position: fixed;
    top: 0;
    left: 0;
    height: 1px;
    background-color: #ff00ff;
    transition: ease-in-out 4000ms;
    box-shadow: 0 0 10px 3px #ff00ff;
}
.loading-top::before{
    content: "";
    display: block;
    width: 100vw;
    box-shadow: 0 0 5px 2px #420dab;
}
.loading-content--bar{
    position: absolute;
    width: 200px;
    left: -80px;
    border-radius: 2px;
    border-right: 4px solid #ff00ff;
    background-color: #151515; 
    animation: 
        loading-animation-small 1.5s 200ms ease-in-out alternate 2 both,
        slide-left 2s 1s reverse both;
}

.loading-content--name{
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    font-size: 50px;
    animation: slide-left 1s 1500ms ease-out both;
}
.loading-content--position{
    color: #c079c0;
    font-size: 20px;
    animation: slide-down 1.5s 4s ease-out both;
}
.loading-content--wrapper{
    display: grid;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    opacity: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 40px 20px;
    padding: calc(50vh - 140px) 20px 0 20px;
    text-align: center;
    animation: fade 1s ease-in-out both;
    transition: 250ms all;
}
.loading-content--load-icon{
    animation: fade 1500ms 2200ms both;
}
.loading-content--load-icon span{
    transition: all 500ms ease;
    background: #4A72DA;
    height: 10px;
    width: 10px;  
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
    animation: wave 2s ease infinite;
}  

.loading-content--load-icon span:nth-child(1){  animation-delay: 0; }
.loading-content--load-icon span:nth-child(2){  animation-delay: 100ms; }
.loading-content--load-icon span:nth-child(3){  animation-delay: 200ms; }
.loading-content--load-icon span:nth-child(4){  animation-delay: 300ms; }

@keyframes wave{
0%, 40%, 100% { 
    transform: translate(0, 0);
    background-color: rgb(255, 0, 242);    
}
10% { 
    transform: translate(0, -15px); 
}  
}

@media (min-width: 600px){
    .loading-content--name{
        font-size: 80px;
    }
    .loading-content--position{
        font-size: 32px;
    }
    .loading-content--wrapper{
        grid-template-rows: 100px 80px 50px;
    }
}
@media (min-width: 900px){
    .loading-content--bar{
        width: 700px;
        left: -500px;
        animation: 
            loading-animation 2s ease-in 2 alternate both,
            slide-left-small 1s 1500ms reverse both;
}
    .loading-content--name{
        font-size: 90px;
    }
    .loading-content--position{
        font-size: 35px;
    }
    
    .loading-content--wrapper{
        text-align: left;
        grid-template-rows: 120px 80px 50px;
        padding: calc(50vh - 140px) 150px 0 150px;
    }
}