#loading-bar{
    height: 6px;
    background-color: #6600bb;
    background: no-repeat linear-gradient(#f0f, #f0f);
    background-size: 0%;
    transition: 2s background ease-in-out, width 200ms, 1s box-shadow 1.8s,
     opacity 1s 2.5s;
    width: 150px;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0 0 5px 2px #f0f;
}
#loading-bar.ld{
    box-shadow: 0 0 0px 0px #f0f;
    opacity: 0;
}
.loading-content--position.ld{
    transition: transform 1.5s 3s;
    transform: translateY(-30px);
}
.loading-content--name{
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.loading-content--position{
    color: #c079c0;
    font-size: 18px;
}
.loading-wrapper{
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
}

.loading-wrapper.ld{
    border-bottom-left-radius: 100%;
    height: 0vh;
    transition: 1s border-bottom-left-radius 4.5s,
                1.5s height 4.7s;
    overflow: hidden;
}
.loading-content--wrapper{
    position: relative;
    display: grid;
    height: 100vh;
    background-color: #151515;
    overflow: hidden;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 25px 30px;
    padding: calc(50vh - 100px) 20px 0 20px;
    text-align: center;
    user-select: none;
}
.glitch{
    letter-spacing: 3px;
    position: relative;
}
.glitch:after {
    content: "RYAN YANG";
    position: absolute;
    margin-left: -260px;
    text-align: center;
    text-shadow: -2px 0 red;
    color: white;
    background: #151515;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    font-weight: bold;
    animation: noise-anim 3s 150ms infinite alternate ease;
}

.glitch:before {
    content: "RYAN YANG";
    position: absolute;
    margin-left: 2px;
    text-shadow: 3px 0 blue;
    color: white;
    background: #151515;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    font-weight: bold;
    animation: noise-anim 4s infinite alternate-reverse linear;
}

@media (min-width: 600px){
    #loading-bar{
        width: 320px;
    }
    .glitch:after{
        margin-left: -375px;
    }
    .loading-content--name{
        font-size: 60px;
    }
    .loading-content--position{
        font-size: 20px;
    }
    .loading-content--wrapper{
        grid-template-rows: 90px 30px 50px;
    }
}
@media (min-width: 900px){
    #loading-bar{
        width: 100%;
    }
    .glitch{
        display: relative;
    }
    .glitch:after {
        margin-left: -2px;
        left: 0px;
    }
    .loading-content--position{
        font-size: 23px;
        margin-left: 2px;
    }
    .loading-content--name{
        font-size: 80px;
    }
    .loading-content--wrapper{
        text-align: left;
        grid-template-rows: 110px 25px 50px;
        padding: calc(50vh - 100px) 150px 0 150px;
    }
}