.nav-wrapper{
    position: sticky;
    top: 0;
    z-index: 5;
    padding: 10px 20px 0 20px;
    text-align: right;
    height: auto;
    width: auto;
    transition: 300ms all;
}
.nav-wrapper.open{
    color: white;
}
.open.hamburger-inner:after{
    background-color: white !important;
}
.open.hamburger-inner:before{
    background-color: white !important;
}
.nav-content{
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    width: 0vw;
    overflow: hidden;
    transition: 300ms all ease-out, 300ms border-radius;
}
.nav-content.open{
    top: 0px;
    right: 0px;
    border-radius: 0;
    height: 100vh;
    width: 100vw;
    transition: 300ms all ease-out, 170ms 130ms border-radius;
}
.nav-content--holder{
    top: 0;
    right: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding-top: 40vh;
    text-align: center;
    font-size: 24px;
    color: white;
}
.nav-content--holder > span{
    font-size: 28px;
}
.nav-content--holder > a{
    display: inline-block;
    text-decoration: none;
    color: #dddddd;
}