.container {
    position: absolute;
    bottom: 5vw;
    left: 6vw;
    height: 35px;

    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    place-content: center;

    @media screen and (max-width: 768px) {
        grid-auto-flow: row;
        height: auto;
        row-gap: 10px;
        bottom: 8px;
        left: unset;
        right: 6px;
    }

    opacity: 0;
    transition: opacity 350ms;
    
    &.visible {
        opacity: 1;    
    }


    &>a {
        display: grid;

        &:hover {
            &>svg {
                fill: var(--accent-secondary);
            }
        }
        &>svg {
            height: 35px;
            width: 35px;
            fill: var(--accent-primary);
            transition: fill 350ms;

            @media screen and (max-width: 768px) {
                height: 30px;
                width: 30px;
            }

            & path {
                pointer-events: none;
            }
        }
    }
}
