p.resume-link {
    font-size: 1.4rem;
    padding: 100px 50px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--background-color);
    font-family: "Red Hat Display";
    font-weight: bold;
    transition: background-color 350ms;

    & a {
        display: inline;
        text-decoration: underline;
        color: var(--text-accent);
    }

    @media screen and (min-width: 850px) {
        font-size: 2.5rem;
    }
}
