p.resume-link{
    font-size: 2rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    & a{
        display: inline;
        text-decoration: underline;
        color: var(--text-accent);
    }
}