.container {
    background: var(--background-color);
    transition: background 350ms; 

    &>.header {
        height: 150vh;
        width: 100vw;
    }

    &>.content {
        width: 100vw;
        height: 400vh;
        position: relative;
    }
}
