:root{
    --scroll-small: 0;
    --scroll-big: 0deg;
}
#w{
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    min-width: 300px;
    scroll-snap-type: y mandatory;
}
.h-w{
    scroll-snap-align: start;
    height: 100vh;
    overflow: hidden;
    & .special-square{
        position: fixed;
        z-index: 1;
        height: 70vw;
        width: 70vw;
        top: calc(50vh - 35vw);
        left: 15vw;
        background: linear-gradient(225deg, #ff00ff, #00ffff);
        background-size: 200% 200%;
        animation: blend 4s ease infinite alternate-reverse;
        pointer-events: none;
        transform: scale( calc( 1 + var(--scroll-small)) ) rotate(90deg);;
        @media screen and (min-aspect-ratio: 1/1){
            transform: scale( calc( 1 + var(--scroll-small)) ) rotate(0deg);
            height: 70vh;
            width: 70vh;
            top: 15vh;
            left: calc(50vw - 35vh);
        }
        & .special-square-inner{
            position: absolute;
            height: calc(70vw - 40px);
            width: calc(70vw - 40px);
            margin-top: 20px;
            margin-left: 20px;
            background-color: var(--background-color);
            overflow: hidden;
            text-align: center;
            pointer-events: none;
            transition: background-color 500ms;
            @media screen and (min-aspect-ratio: 1/1){
                height: calc(70vh - 40px);
                width: calc(70vh - 40px);
                transform: rotate(0deg);
            }
        }
    }
}
.h-name{
    font-size: 12vh;
    width: 100vh;
    transform: rotate(90deg);
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    pointer-events: none;
    transition: color 500ms;
    @media screen and (min-aspect-ratio: 1/1){
        font-size: 12vw;
        width: 100vw;
        transform: rotate(0deg);
    }
    &.behind{
        position: fixed;
        left: calc( 50vw - 50vh );
        top: calc( 50vh - 8vw - 0px );
        color: var(--text-color-alt);
        transform: scale( calc( 1 + var(--scroll-small) )) rotate(90deg);
        @media screen and (min-aspect-ratio: 1/1){
            top: calc( 50vh - 8vw );
            left: 0;
            transform: scale( calc( 1 + var(--scroll-small) ));
        }
    }
    &.front{
        position: absolute;
        left: calc( 35vw - 50vh );
        top: calc( 35vw - 20px - 8vh);
        color: var(--text-color);
        transform: rotate(var(--scroll-big));
        opacity: calc( 1 - var(--scroll-small) );
        @media screen and (min-aspect-ratio: 1/1){
            top: calc(35vh - 8vw - 20px);
            left: calc( -50vw + 35vh - 20px);
            transform: rotate(var(--scroll-big));
        }
    }
}
.icon-scroll {
	position: absolute;
	top: 92vh;
	left: 50%;
    width: 1em;
    height: 3.125em;
    transform: translateX(-50%) scale(2);
    & .mouse {
        height: 1.375em;
        width: .875em;
        border: 1px solid var(--text-color-alt);
        border-radius: 2em;
        opacity: 0.7;
        & .wheel {
            position: relative;
            display: block;
            height: 0.1875rem;
            width: 0.1875rem;
            margin: 0.1875rem auto 0;
            background-color: var(--text-color-alt);
            animation: mouse-wheel 1.2s ease infinite;
            border-radius: 50%;
        }
    }
    & span {
        animation-delay: .2s;
    }
    @media screen and (max-aspect-ratio: 1/1){
        display: none;
    }
}

.f-w{
    position: relative;
    z-index: 150;
    scroll-snap-align: start;
    height: 100vh;
    text-align: center;
    background-color: var(--background-emphasis);
    transition: background-color 500ms;
    & .f-bg{
        position: absolute;
        text-align: center;
        width: 100vw;
        bottom: calc( 50vh - 12vw);
        color: var(--background-color);
        transition: color 500ms;
        font: 25vw 'Hyperwave';
    }
    & .made-with{
        position: absolute;
        font-size: 15px;
        width: 100vw;
        text-align: center;
        color: #666666;
        font-family: 'Poppins';
        text-transform: lowercase;
        bottom: 30px;
    }
}

.icon-arrows span{
	display: block;
	width: 0.315rem;
	height: 0.315rem;
	border-right: 1px solid var(--text-color-alt);
	border-bottom: 1px solid var(--text-color-alt);
    transform: rotate(45deg);
    margin-left: 0.295rem;
    animation: mouse-scroll 1s infinite;
	animation-direction: alternate;
}

@keyframes mouse-wheel {
	0% {
		opacity: 0.7;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(.375em);
	}
}
@keyframes mouse-scroll {
	0%   { opacity: 0; }
	100% { opacity: 0.7; }
}