.container {
    position: relative;
    z-index: 10;
    background: var(--background-color);
    transition: background 350ms;

    &>.header {
        height: 150vh;
        width: 100vw;
        opacity: 1;
        transition: opacity 500ms;

        &.disappear {
            opacity: 0;
        }
    }

    &>.content {
        width: 100vw;
        height: 400vh;
        position: relative;
        z-index: 980;

        & .view {
            cursor: pointer;
            position: absolute;
            top: max(5vw, 20px);
            left: max(6vw, 20px);
            z-index: 500;
            opacity: 0;
            transition: background 350ms, opacity 350ms;


            &.visible {
                opacity: 1;
            }

            & svg {
                pointer-events: none;
                height: 25px;
                width: 25px;
                fill: #7D46C2;
            }
            
        }

        & .controls {
            opacity: 1;
            transition: opacity 350ms;
            
            &.viewing {
                pointer-events: none;
                opacity: 0;
            }
        }
    }

    & .project {
        @media screen and (min-aspect-ratio: 1/1), (min-width: 768px) {
            display: none;
        }

        &>.item {
            position: absolute;
            top: 12vh;
            left: 70px;
            width: 100vw;
            max-width: 0;
            z-index: 1000;

            &.selected {
                max-width: calc(100vw - 140px);
            }
        }
    }
}
