:root{
    --scroll-small: 0;
    --scroll-big: 0deg;
}
#w{
    box-sizing: border-box;
    height: 100vh;
    min-width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.h-w{
    pointer-events: none;
    position: fixed;
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    & .special-square{
        z-index: 1;
        height: 70vw;
        width: 70vw;
        background: linear-gradient(225deg, #ff00ff, #00ffff);
        background-size: 200% 200%;
        animation: blend 4s ease infinite alternate-reverse;
        pointer-events: none;
        transform: scale( calc( 1 + var(--scroll-small)) ) rotate(90deg);
        @media screen and (min-aspect-ratio: 1/1){
            transform: scale( calc( 1 + var(--scroll-small)) ) rotate(0deg);
            height: 70vh;
            width: 70vh;
        }
        & .special-square-inner{
            height: calc(100% - 40px);
            width: calc(100% - 40px);
            margin-top: 20px;
            margin-left: 20px;
            background-color: var(--background-color);
            overflow: hidden;
            transition: background-color 500ms;
            @media screen and (min-aspect-ratio: 1/1){
                transform: rotate(0deg);
            }
        }
    }
}
.header-placeholder {
    height: 180vh;
    @media screen and (min-aspect-ratio: 1/1){
        height: 100vh;
    }
}
.h-name{
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
    font-size: 32vw;
    font-family: 'Ma Shan Zheng', cursive;
    letter-spacing: 0.5vw;
    pointer-events: none;
    transition: color 500ms;
    @media screen and (min-aspect-ratio: 1/1){
        font-size: 20vw;
        transform: rotate(0deg);
    }
    &.behind{
        position: fixed;
        top: 0;
        white-space: nowrap;
        color: var(--text-color-alt);
        transform: scale( calc( 1 + var(--scroll-small) )) rotate(90deg);
        @media screen and (min-aspect-ratio: 1/1){
            // top: calc( 50vh - 8vw );
            left: 0;
            transform: scale( calc( 1 + var(--scroll-small) ));
        }
    }
    &.front{

        white-space: nowrap;
        color: var(--text-color);
        transform: rotate(var(--scroll-big));
        opacity: calc( 1 - var(--scroll-small) );
        @media screen and (min-aspect-ratio: 1/1){
            transform: rotate(var(--scroll-big));
        }
    }
}
