.s-w{
    position: fixed;
    z-index: 200;
    width: 90vh;
    height: 50px;
    top: 0;
    left: -50px; 
    text-align: right; 
    color: rgb(0, 177, 200);
    font: 25px 'Quicksand';
    transform: rotate(90deg);
    transform-origin: bottom left;
    @media screen and (min-aspect-ratio: 1/1) {
        left: 40px; 
    }
}
.social{
    display: grid;
    grid-template-columns: repeat(4, 40px);
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-left: 20px;
    float: right; 
    &  a.icon{
        height: 35px;
        width: 35px;
        transform: rotate(-90deg);
        mix-blend-mode: screen;
    }
}