.s-w{
    position: fixed;
    z-index: 200;
    width: 90vh;
    height: 50px;
    top: 0;
    right: -60px; 
    color: rgb(0, 177, 200);
    font: 25px 'Quicksand';
    transform: rotate(-90deg);
    transform-origin: bottom right;
    @media screen and (min-aspect-ratio: 1/1) {
        right: 60px; 
    }
    & .s-line{
        pointer-events: none;
        position: absolute;
        top: 20px;
        background-position: center;        
        height: 2px; 
        border-radius: 4px;
        animation: blend 8s ease infinite alternate-reverse;
        &.top{
            left: 300px;
            width:  calc(80vh - 350px);
            background: linear-gradient(225deg, #ff00ff, #00ffff);
            background-size: 200% 200%;
        }
        &.bottom{
            left: 25px;
            width:  50px;
            background: linear-gradient(45deg, #0059ff, #00ffff);
            background-size: 300px 300px;
        }
    }
}
.social{
    display: grid;
    grid-template-columns: repeat(4, 45px);
    border-radius: 20px;
    box-sizing: border-box;
    width: 180px;
    margin-left: 100px;
    // box-shadow: inset 0px 0px 10px 0px #ff00ff;
    // background-color: #00ffff11;
    // background-color: var(--text-color);
    &  a.icon{
        height: 40px;
        width: 40px;
        transform: rotate(90deg);
        &:hover{
            filter: invert(100%);
        }
    }
}