.f-w{
    position: relative;
    z-index: 150;
    scroll-snap-align: start;
    height: 100vh;
    text-align: center;
    background-color: var(--background-emphasis);
    transition: background-color 500ms;
    & .f-bg{
        position: absolute;
        text-align: center;
        width: 100vw;
        bottom: calc( 50vh - 12vw);
        color: var(--background-color);
        transition: color 500ms;
        font: 25vw 'Hyperwave';
    }
    & .made-with{
        position: absolute;
        font-size: 15px;
        width: 100vw;
        text-align: center;
        color: #666666;
        font-family: 'Poppins';
        text-transform: lowercase;
        bottom: 30px;
    }
}