.f-w{
    position: relative;
    z-index: 150;
    scroll-snap-align: start;
    height: calc(100vh - 20px);
    text-align: center;
    background-color: var(--background-emphasis);
    & .f-bg{
        position: absolute;
        text-align: center;
        width: 100vw;
        bottom: calc( 50vh - 12vw);
        color: var(--background-color);
        font-family: 'Hyperwave';
        font-size: 25vw;
    }
    & .socials{
        display: grid;
        grid-template-columns: repeat(4, 50px);

        & .icon{
            height: 40px;
            width: 40px;
        }
    }
    & .made-with{
        position: absolute;
        font-size: 15px;
        width: 100vw;
        text-align: center;
        color: #666666;
        font-family: 'Poppins';
        text-transform: lowercase;
        bottom: 30px;
    }
}