.icon{
    height: 45px;
    width: 45px;
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #ffffff;
    user-select: all;
    transition: all 250ms;
}
.icon:hover{
    /* background-color: #ffee00; */
    mix-blend-mode: screen;
}