.back-link--wrapper {
    place-self: center start;
    padding-left: 20px;
    font-size: 1.5rem;
    z-index: 10;
    cursor: pointer;
    transition: transform 350ms;

    @media screen and (max-width: 850px) {
        top: 10px;
        left: 10px;
        font-size: 1rem;
    }

    & svg {
        height: 1.2rem;
        width: auto;

        @media screen and (max-width: 850px) {
            height: 0.6rem;
        }

        & path {
            // fill: var(--text-color-alt);
            fill: var(--text-accent);
            transition: fill 350ms;
        }
    }

    & a>span {
        font-family: 'Red Hat Display';
        font-weight: bold;
        color: var(--text-color);
        border-bottom: 1px solid transparent;
        transition: color 350ms;
    }

    &:hover,
    &:active {
        transform: translateX(5px);

        & span {
            color: var(--text-color-alt);
        }

        & svg {
            & path {
                fill: var(--text-color);
            }
        }
    }
}