.learn-ryqn-dev-w{
    & h2{
        font: bold 4rem/4rem 'Red Hat Display';
        text-shadow: 1px 1px var(--emphasis-shadow);
    }
    & h3{
        font: bold 3rem/3rem 'Red Hat Display';
        text-shadow: 1px 1px var(--accent-color-alt);
    }
    a{
        color: var(--accent-color-alt);
    }
}