@font-face {
    font-family: Hyperwave;
    src: url('/fonts/Hyperwave-Two.ttf');
}

@font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url('/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins;
    font-weight: 800;
    src: url('/fonts/Poppins-ExtraBold.ttf');
}